<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>
<body>
    <div th:replace="~{base :: logo}"></div>
    <div class="container">
    <div th:replace="~{base :: heading('My Orders')}"></div>

        <nav class="navbar navbar-expand d-flex justify-content-between mb-3">
            <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">All</a>
                  <a class="nav-link" href="#">Pendent</a>
                  <a class="nav-link" href="#">Aproved</a>
                  <a class="nav-link" href="#">Delivered</a>
            </div>
            <a href="/order/form"><button class="btn btn-outline-secondary" type="submit">New</button></a>
        </nav>
        <div class="card mb-3" th:each="order : ${orders}">
            <div class="card-header" th:text="${order.productName}">Product Name</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mb-3 col-sm-8">
                            <div class="row">
                                <div class="col-md 5">Price: <span th:text="${order.negotiatedValue}">99.99</span></div>
                                <div class="col-md 7">Delivery date: <span th:text="${order.deliveryDate}">25/04/2004</span></div>
                            </div>
                            <div>Product</div>
                            <div> <input class="form-control" th:value="${order.productUrl}" value="product url"></div>
                            <div>Description</div>
                            <div>
                                <textarea class="form-control" th:text="${order.description}">Order description</textarea>
                            </div>
                        </div> 
                        <div class="col-12 col-sm-4">
                            <img class="img-thumbnail img-fluid" th:src="${order.imgUrl}" src="" alt="">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>