<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:each="order : ${orders}">
        <div th:text="${order.productName}">Product Name</div>
        <div>Price: <span th:text="${order.negotiatedValue}">99.99</span></div>
        <div>Delivery date: <span th:text="${order.deliveryDate}">25/04/2004</span></div>
        <div>Product</div>
        <div> <input th:value="${order.productUrl}" value="product url"></div>
        <div>Description</div>
        <div>
            <textarea th:text="${order.description}">Order description</textarea>
        </div>

        <div>
            <img th:src="${order.imgUrl}" src="" alt="">
        </div>
    </div>
</body>
</html>